<h1>Run something to a background process</h1>
<p>This process take a while some process</p>
<form action="run_process" method="post">
  <%= csrf_meta_tags %>
  <%= submit_tag "Run a Process" %>
</form>
